numpy==1.26.4
setuptools==80.9.0
wheel==0.47.0
packaging==26.2
ninja==1.13.0

transformers==4.35.2
tokenizers==0.15.2

opencv-python-headless==4.9.0.80
scipy
scikit-image
batchgenerators
acvl-utils
tqdm
matplotlib
pandas
hiddenlayer
thop

brevitas==0.12.1
qonnx
onnx
onnxscript
onnxoptimizer

nbconvert
ipykernel
jupyter_client
